.landing-container {
	margin-top: 3%;

	/* Intro-card style */
	.intro-card {
		padding: 30px 0;
		width: 100%;
		border-radius: 25px;
		margin-bottom: 50px;

		.card-title {
			font-family: 'Mulish', sans-serif;
			margin-bottom: 30px;
			text-align: center;
		}

		.plant-image {
			display: block;
			margin: auto;
			max-height: 500px;
			width: auto;
		}

		.card-info-container {
			width: 100%;
			height: 100%;
			padding: 15px;
			border-radius: 35px;
			background-color: whitesmoke;

			.card-info-text {
				font-family: 'Mulish', sans-serif;
				font-size: 19px;
				line-height: 35px;
				text-align: center;
				padding: 20px 5px;
			}
		}

		.icons-container {
			margin-top: 30px;

			.icons-style {
				display: block;
				margin: auto;
				font-size: 40px;

				.water-icon {
					color: lightblue;
				}
				.sun-icon {
					color: yellow;
				}
				.wifi-icon {
					color: blue;
				}
				.computer-icon {
					color: gray;
				}
			}
		}
	}

	/* How it Works card style */
	.how-it-works-card {
		width: 100%;
		padding: 30px;
		font-family: 'Mulish', sans-serif;
		margin-bottom: 30px;

		.card-title {
			font-family: 'Mulish', sans-serif;
			margin-bottom: 16px;
		}

		.card-caption {
			font-family: 'Mulish', sans-serif;
			font-size: 19px;
			line-height: 30px;
			background-color: whitesmoke;
			border-radius: 35px;
			margin: 2em 0;
			padding: 0.8em;
		}

		.carousel-container {
			background-color: whitesmoke;

			.carousel-swipe-container {
				.carousel-step-item {
					width: 100%;
					display: flex;
					flex-flow: row wrap;
					align-items: center;
					justify-content: center;

					.text-container {
						display: flex;
						flex-direction: row;
						align-items: center;
						padding: 10px 14px;
						width: 100%;

						.step-number {
							padding: 5px 9px;
							margin-right: 1em;
							background-color: #3c4cdf;
							color: white;
							font-size: 19px;
							border-radius: 50%;
						}

						.step-text {
							font-family: 'Mulish', sans-serif;
							color: black;
							font-size: 19px;
						}
					}

					.carousel-img {
						display: block;
						margin: auto;
						width: auto;
					}
				}
			}
		}
	}
}
