.plant-monitor {
	margin-top: 75px !important;

	/* Plant name message at page top */
	.plant-monitor-welcome {
		padding: 15px;

		.active-plant-name {
			font-family: 'Mulish', sans-serif;
			font-size: 30px;
		}
	}

	/* Control data display */
	.plant-ctrl-settings {
		margin-top: 30px;

		.plant-ctrl-container {
			width: 100%;
			max-width: 550px;
			padding: 30px 10px 20px 20px;
			font-family: 'Mulish', sans-serif;

			.soil-mois-title {
				font-size: 25px;
				margin-bottom: 28px;
			}

			.ctrl-setting-container {
				margin-bottom: 8px;
				width: 100%;
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				justify-content: flex-start;

				.ctrl-setting-text {
					font-size: 20px;
					font-weight: 600;
				}

				.ctrl-value {
					background-color: whitesmoke;
					padding: 6px;
					border-radius: 8px;

					text-align: center;
				}
			}
		}
	}

	/* Plot of plant data */
	.plant-data-plot-container {
		margin-top: 25px;

		.plant-data-plot {
			height: 500px;
		}
	}
}
